@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Murecho', sans-serif;
}

h1{
    font-weight: 700;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 5rem;
}

.banner-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 14px 22px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.banner-title{
    font-family: 'Murecho', sans-serif;
    font-size: 1.4rem;
}

.banner-info{
    text-align: center;
    font-size: 1.3rem;
    text-align: center;
}

p{
    font-weight: 400;
}

h1::selection{
    background-color: #fff; 
    color: #000;
}

p::selection{
    background-color: #fff;
    color: #000;
}

span::selection{
    background-color: #fff;
    color: #000;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    background: rgb(38,122,173);
    background: linear-gradient(90deg, rgba(38,122,173,1) 0%, rgba(27,122,76,1) 100%); 
}

.avatar-container{
    margin: 0 auto;
    text-align: center;
}


/* LINKS CONTAINER */
.link-container {
    margin: 0 auto; 
    margin-top: 30px;
    align-items: center;
    justify-content: center; 
}

a{
    text-decoration: none;
    width: 300px;
    margin: 4px;
    color: #000;
    background: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 8px;
    padding: 10px;
    transition: 0.3s;
    transform: scale(0.9);
}

a:hover{
    transform: scale(1);
    color: rgba(27,122,76,1); 
    background: rgb(255, 255, 255);
}

.link-container > p{
   padding-top: 15px;
}


/*  Tudo bem não estar bem.  */ 


/* Rodapé */ 
.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    font-weight: 500;
}

/* Responsivo Smartphone */
@media screen and (max-width: 600px){
    .link-container{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-weight: 700;
        font-size: 3.2rem;
    }
    a{
        text-decoration: none;
        width: 350px;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 8px;
        padding: 12px;
    }

    .footer{
        margin-top: 2rem;
    }

    .banner-info{
        font-size: 1.1rem;
    }
}


