@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Murecho', sans-serif;
}

h1{
    font-weight: 700;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 5rem;
}

p {
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    background-color: rgb(26, 30, 41);
    /*background: linear-gradient(90deg, rgb(168, 106, 240) 0%, rgb(255, 255, 255) 80%);*/
}

.intro-container{
    padding: 30px;
    text-align: center;
}


/* LINKS CONTAINER */
.link-container {
    margin: 60px auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

a{
    text-decoration: none;
    width: 300px;
    margin: 6px;
    color: #fff;
    background: rgba(209, 209, 209, 0.100);
    font-size: 1.4rem;
    text-align: center;
    margin-top: 8px;
    padding: 15px;
    transition: 0.3s;
    transform: scale(0.9); 
}

a:hover{
    transform: scale(1);
    background-color: rgba(209, 209, 209, 0.400);
}

.youtube:hover{
    background-color: #ff0000;
}

.linkedin:hover{
    background-color: #0a66c2;
}

.quinhetospx:hover{
    background-color: #000000;
}

.github:hover{
    background-color: #24292f; 
}

.pexels:hover{
    background-color: #05a081;
}

.instagram:hover{
    background-image: linear-gradient(to right, #614bc4, #e52462, #fcb95a);

}

/* Rodapé */ 
.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

/* Responsivo */
@media screen and (max-width: 600px){
    .link-container{
        display: flex;
        flex-direction: column;
    }

    .avatar-container{
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
    }

    h1{
        font-weight: 700;
        font-size: 3.2rem;
    }

    a{
        text-decoration: none;
        width: 350px;
        text-align: center;
        margin-top: 8px;
        padding: 10px;
    }
}


